
<div class="row">
        <svg viewBox="0 0 210 40">

          <text x="30%" y="70%" font-size="14" dominant-baseline="middle" text-anchor="middle">
            Express
          </text>
      </svg>
{% for express in express_items %}

    {% if express.cargo_type == "Container" %}
  <div id="{{ express.name }}" ondrop="DnD.onDrop(event)" draggable="true" ondragover="DnD.onallowDrop(event)" ondragstart="DnD.onDragStart(event, this)">
    <svg viewBox="0 0 210 40">
      <image href="/files/yellow_contanier.svg"  height="45" width="115" id="Inspection"/>
      <text x="30%" y="28%" font-size="10" dominant-baseline="middle" text-anchor="middle">
        <a href="desk#Form/Cargo/{{ express.name }}">
          {{ express.container_no }}
          <tspan x="60" y="30">{{ express.container_size }}"FT</tspan><br>
      </a>
    </text>
  </svg>
  </div>
  {% endif %}

  {% if express.cargo_type == "Container" && express.container_content == "EMPTY"%}
<div id="{{ express.name }}" ondrop="DnD.onDrop(event)" draggable="true" ondragover="DnD.onallowDrop(event)" ondragstart="DnD.onDragStart(event, this)">
  <svg viewBox="0 0 210 40">
    <image href="/files/pink_contanier.svg"  height="45" width="115" id="Inspection"/>
    <text x="30%" y="28%" font-size="10" dominant-baseline="middle" text-anchor="middle">
      <a href="desk#Form/Cargo/{{ express.name }}">
        {{ express.container_no }}
        <tspan x="60" y="30">{{ express.container_size }}"FT</tspan><br>
    </a>
  </text>
</svg>
</div>
{% endif %}

{% if express.cargo_type == "Vehicles" %}
<div id="{{ express.name }}" ondrop="DnD.onDrop(event)" draggable="true" ondragover="DnD.onallowDrop(event)" ondragstart="DnD.onDragStart(event, this)">
  <svg viewBox="0 0 210 40">
    <image href="/files/yellow_vehicle.svg"  height="45" width="115" id="Inspection"/>
    <text x="30%" y="28%" font-size="10" dominant-baseline="middle" text-anchor="middle">
      <a href="desk#Form/Cargo/{{ express.name }}">
        {{ express.chasis_no }}
        <tspan x="60" y="30">{{ express.mark }}</tspan><br>
    </a>
  </text>
</svg>
</div>
{% endif %}

{% endfor %}
</div>
