
<div class="row">
        {% for yard in inspection_items %}
        <div class="col-sm-12">
            {% if yard.cargo_type == "Container" && yard.container_content == "FULL" %}
            <div class="Inspection" id="{{ yard.name }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                <img class="card-img-top-inspection" src="/files/yellow_contanier.svg"/>
                <div class="card-img-overlay-inspection">

                    <p class="container_no-inspection" style="color:red;">{{ yard.container_no}}</p>

                </div>

            </div>
            {% endif %} {% if yard.cargo_type == "Container" && yard.container_content == "FULL" && yard.cargo_condition == "DAMAGE" %}
            <div class="Inspection" id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">
                <img class="card-img-top-inspection" src="/files/damage_contanier.svg"  />
                <div class="card-img-overlay-inspection">
                    <p class="container_no">{{ yard.container_no}}</p>
                </div>
            </div>
            {% endif %} {% if yard.cargo_type == "Container" && yard.container_content == "EMPTY"%}
            <div class="Inspection" id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">
                <img class="card-img-top-inspection" src="/files/pink_contanier.svg"  id="Inspection" />
                <div class="card-img-overlay-inspection">
                    <p class="container_no">{{ yard.container_no}}</p>
                </div>
            </div>
            {% endif %} {% if yard.cargo_type == "Break Bulk" %}

            <div class="Inspection" id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">
                <img class="card-img-top-inspection" src="/files/yellow_break_bulk.svg"  id="Inspection" />
                <div class="card-img-overlay-inspection">
                    <p class="container_no">{{ yard.mark}}</p>
                </div>
            </div>

            {% endif %} {% if yard.cargo_type == "Vehicles" %}
            <div class="Inspection" id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">

                <img class="card-img-top-inspection" src="/files/yellow_vehicle.svg"  id="Inspection" />
                <div class="card-img-overlay-inspection">
                    <p>{{ yard.chasis_no }}</p>
                </div>


            </div>
            {% endif %} {% if yard.cargo_type == "Heavy Vehicles" %}
            <div class="Inspection" id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">

                <img class="card-img-top-inspection" src="/files/yellow_hvehicle.svg" id="Inspection" />
                <div class="card-img-overlay-inspection">
                    <p class="container_no">{{ yard.chasis_no }}</p>
                </div>

            </div>
            {% endif %} {% if yard.cargo_type == "Tank Tainers" %}
            <div class="Inspection" id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">

                <img class="card-img-top-inspection" src="/files/yellow_tank_tainer.svg" id="Inspection" />
                <div class="card-img-overlay-inspection">
                    <p class="container_no">{{ yard.container_no }}</p>
                </div>

            </div>
            {% endif %} {% if yard.cargo_type == "Flatrack" %}
            <div class="Inspection" id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">

                <img class="card-img-top-inspection" src="/files/yellow_flatrack.svg" id="Inspection" />
                <div class="card-img-overlay-inspection">
                    <p class="container_no">{{ yard.container_no }}</p>
                </div>

            </div>
            {% endif %}
        </div>
        {% endfor %}

</div>

