html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    html {
        font-size: 8px
    }
    p.container_no {
        padding-left: 30px;
        padding-bottom: 0px;
        font-size: 8px;
        margin: 0px;
    }
    p.yard_slot {
        padding-left: 30px;
        padding-bottom: 0px;
        font-size: 8px;
        margin: 0px;
    }
    p.container_size {
        padding-left: 15px;
        padding-bottom: 0px;
        font-size: 10px
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    html {
        font-size: 9px
    }
    p.container_no {
        padding-left: 30px;
        padding-bottom: 0px;
        font-size: 9px;
        margin: 0px;
    }
    p.yard_slot {
        padding-left: 30px;
        padding-bottom: 0px;
        font-size: 9px;
        margin: 0px;
    }
    p.container_size {
        padding-left: 15px;
        padding-bottom: 0px;
        font-size: 9px
    }
}


/* Large devices (desktops, 992px and up)  */

@media (min-width: 992px) and (max-width: 1199.98px) {
    html {
        font-size: 11px
    }
    p.container_no {
        padding-left: 10px;
        padding-bottom: 0px;
        font-size: 9px;
        margin: 0px;
    }
    p.yard_slot {
        padding-left: 10px;
        padding-bottom: 0px;
        font-size: 9px;
        margin: 0px;
    }
    p.container_size {
        padding-left: 15px;
        padding-bottom: 0px;
        font-size: 11px
    }
    .inspection p.container_no {
        padding-left: 8px;
        padding-bottom: 15px;
        font-size: 9px;
        margin: 0px;
    }
    .inspection p.container_size {
        padding-left: 8px;
        padding-bottom: 15px;
        font-size: 9px
    }
    .express p.container_no {
        padding-left: 8px;
        padding-bottom: 0px;
        font-size: 9px;
        margin: 0px;
    }
    .express p.yard_slot {
        padding-left: 8px;
        padding-bottom: 0px;
        font-size: 9px;
        margin: 0px;
    }
    .express p.container_size {
        padding-left: 8px;
        padding-bottom: 0px;
        font-size: 9px
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    html {
        font-size: 11px
    }
    p.container_no {
        padding-left: 10px;
        padding-bottom: 0px;
        font-size: 9px;
        margin: 0px;
    }
    p.yard_slot {
        padding-left: 10px;
        padding-bottom: 0px;
        font-size: 9px;
        margin: 0px;
    }
    p.container_size {
        padding-left: 15px;
        padding-bottom: 0px;
        font-size: 11px
    }
    .inspection p.container_no {
        padding-left: 8px;
        padding-bottom: 15px;
        font-size: 9px;
        margin: 0px;
    }
    .inspection p.container_size {
        padding-left: 8px;
        padding-bottom: 15px;
        font-size: 9px
    }
    .express p.container_no {
        padding-left: 8px;
        padding-bottom: 0px;
        font-size: 9px;
        margin: 0px;
    }
    .express p.yard_slot {
        padding-left: 8px;
        padding-bottom: 0px;
        font-size: 9px;
        margin: 0px;
    }
    .express p.container_size {
        padding-left: 8px;
        padding-bottom: 0px;
        font-size: 9px
    }
}

h1 {
    font-size: 2rem
}

.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

.container-yard {
    width: 100%;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.container-yard-main_search {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-yard-main {
    width: 100%;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
}

.bay-filter {
	margin-left: 35px;
	width: 25%;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled-left {
    padding-left: 120px;
}

#wrapper.toggled-right {
    padding-right: 120px;
}

#right-sidebar-wrapper {
    padding: 10px;
    position: fixed;
    right: 170px;
    width: 0;
    height: 100%;
    margin-right: -150px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#left-sidebar-wrapper {
    padding: 10px;
    position: fixed;
    left: 170px;
    width: 0;
    height: 100%;
    margin-left: -150px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled-right #right-sidebar-wrapper {
    padding: 10px;
    width: 100px;
}

#wrapper.toggled-left #left-sidebar-wrapper {
    padding: 10px;
    width: 100px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#wrapper.toggled-right #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
}

#wrapper.toggled-left #page-content-wrapper {
    position: absolute;
    margin-left: 0px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0px;
    }
    #wrapper.toggled-right {
        padding-right: 0px;
    }
    #right-sidebar-wrapper {
        width: 0;
    }
    #left-sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled-right #right-sidebar-wrapper {
        width: 0px;
    }
    #page-content-wrapper {
        padding: 10px;
        position: relative;
    }
    #wrapper.toggled-right #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.35rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link+.card-link {
    margin-left: 1.25rem;
}

.card-img-overlay {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
}

.card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    padding-bottom: 3px;
}