        <div class="container_yard_content">
          <div class="row">
          {% var yardData = ["A","B","C","D","E","F","G","H"]; %}
          {% for item in items %}

          {% for (y = 0; y < yardData.length; y++) { %}

              {% if item.yard_section == yardData[y] %}

                {% for (var i=11; i>= 0; i--){ %}

                {% if [i] == 10 || [i] == 11 %}
                  {% var a = ""  %}
                {% else %}
                  {% var a = 0  %}
                {% endif %}

                  {% if item.yard_sub_section == yardData[y]+a+[i] %}

                      <div class="col-sm-1">
                        {% if item.cargo_ref %}

                          {% if item.status == "Paid" && item.cargo_type == "Container" && item.container_content == "FULL" %}
                           <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                            <img class="card-img-top" src="/files/paid_contanier.svg"  height="50" width="115" id="{{ item.yard_slot }}"/>

                              <div class="card-img-overlay">
                                <p class="container_no"  style="color:red;">
<!-------                                  {% var container_number = item.container_no; var part_1 = container_number.slice(0,6); var part_2 = container_number.slice(6,12); %}
                                {{ part_1 }}<br>
                              {{ part_2 }}</p>   -------->                         
                                  {{ item.container_no }}
                                <p class="yard_slot"  style="color:red;" >{{ item.yard_slot }}</p>
                              </div>
                            </div>

                            {% endif %}

                        {% if item.status == "Custom Inspection" && item.cargo_type == "Container" && item.container_content == "FULL" %}
                         <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                            <img class="card-img-top" src="/files/orange_contanier.svg"  height="50" width="115" id="{{ item.yard_slot }}"/>
                            <div class="card-img-overlay">

                              <p class="container_no">{{ item.container_no}}</p>
                              <p class="yard_slot" >{{ item.yard_slot }}</p>


                            </div>
                        </div>
                          {% endif %}

                        {% if item.status == "Yard" && item.hazardous != "Yes" && item.cargo_type == "Container" && item.container_content == "FULL" %}

                         <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                            <img class="card-img-top" src="/files/blue_contanier.svg" height="50" width="115" id="{{ item.yard_slot }}"/>
                            <div class="card-img-overlay">

                              <p class="container_no" style="color:white;">{{ item.container_no}}</p>
                              <p class="yard_slot" style="color:white;">{{ item.yard_slot }}</p>


                            </div>
                          </div>

                          {% endif %}

                          {% if (item.status == "Yard" || item.status == "Stock") && item.hazardous != "Yes" && item.cargo_type == "Container" && item.container_content == "EMPTY" %}

                             <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                              <img class="card-img-top" src="/files/pink_contanier.svg"  id="{{ item.yard_slot }}"/>
                              <div class="card-img-overlay">

                                <p class="container_no">{{ item.container_no}}</p>
                                <p class="yard_slot" >{{ item.yard_slot }}</p>


                              </div>
                            </div>

                            {% endif %}

                        {% if item.status == "Yard" && item.hazardous == "Yes" && item.cargo_type == "Container" && item.container_content == "FULL" %}
                         <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                              <img class="card-img-top" src="/files/red_contanier.svg"  height="55" width="125" id="{{ item.yard_slot }}"/>
                              <div class="card-img-overlay" >

                                <p class="container_no"  style="color:white;">{{ item.container_no}}</p>
                                <p class="yard_slot"  style="color:white;">{{ item.yard_slot }}</p>


                              </div>
                        </div>
                          {% endif %}



                            {% if item.status == "Yard" && item.hazardous == "Yes" && item.cargo_type == "Container" && item.container_content == "FULL" %}
                             <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                                  <img class="card-img-top" src="/files/red_contanier.svg"  height="55" width="125" id="{{ item.yard_slot }}"/>
                                  <div class="card-img-overlay">

                                    <p class="container_no">{{ item.container_no}}</p>
                                    <p class="yard_slot" >{{ item.yard_slot }}</p>


                                  </div>
                            </div>
                              {% endif %}

                            {% if item.status == "Yard" && item.cargo_type == "Break Bulk" %}
                             <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                                  <img class="card-img-top" src="/files/blue_break_bulk.svg"  height="55" width="125" id="{{ item.yard_slot }}"/>
                                  <div class="card-img-overlay">

                                    <p class="container_no">{{ item.mark}}</p>
                                    <p class="yard_slot" >{{ item.yard_slot }}</p>

                                  </div>
                            </div>
                              {% endif %}
                              {% if item.status == "Paid" && item.cargo_type == "Break Bulk" %}
                               <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                                    <img class="card-img-top" src="/files/green_break_bulk.svg"  height="55" width="125" id="{{ item.yard_slot }}"/>
                                    <div class="card-img-overlay">

                                      <p class="container_no">{{ item.mark}}</p>
                                      <p class="yard_slot" >{{ item.yard_slot }}</p>

                                    </div>
                              </div>
                                {% endif %}

                        {% if item.status == "Yard" && item.cargo_type == "Flatrack" %}

                             <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                              <img class="card-img-top" src="/files/blue_flatrack.svg"  id="{{ item.yard_slot }}"/>
                              <div class="card-img-overlay">

                                <p class="container_no">{{ item.container_no}}</p>
                                <p class="yard_slot" >{{ item.yard_slot }}</p>


                              </div>
                            </div>
                        {% endif %}
                        {% if item.status == "Yard" && item.cargo_type == "Tank Tainers" %}

                            <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                              <img class="card-img-top" src="/files/red_tank_tainer.svg"  id="{{ item.yard_slot }}"/>
                              <div class="card-img-overlay">
                                <p class="container_no">{{ item.container_no}}</p>
                                <p class="yard_slot" >{{ item.yard_slot }}</p>
                              </div>
                            </div>
                        {% endif %}
                        {% if item.status == "Paid" && item.cargo_type == "Tank Tainers" %}

                            <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                              <img class="card-img-top" src="/files/green_tank_tainer.svg"  id="{{ item.yard_slot }}"/>
                              <div class="card-img-overlay">
                                <p class="container_no">{{ item.container_no}}</p>
                                <p class="yard_slot" >{{ item.yard_slot }}</p>
                              </div>
                            </div>
                        {% endif %}
                        {% if item.status == "Paid" && item.cargo_type == "Flatrack" %}

                            <div class="{{ item.status}}" id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                              <img class="card-img-top" src="/files/green_flatrack.svg"  id="{{ item.yard_slot }}"/>
                              <div class="card-img-overlay">

                                <p class="container_no">{{ item.container_no}}</p>
                                <p class="yard_slot" >{{ item.yard_slot }}</p>


                              </div>
                            </div>
                        {% endif %}

                        {% if item.status == "Yard" && item.cargo_type == "Vehicles" %}

                                <div id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                                    <img class="card-img-top" src="/files/blue_vehicle.svg"  id="{{ item.vehicle_yard_slot }}" />
                                    <div class="card-img-overlay">

                                        <p class="container_no">{{ item.chasis_no}}</p>
                                        <p class="yard_slot">{{ item.yard_slot }}</p>

                                    </div>
                                </div>
                        {% endif %}

                        {% if item.status == "Paid" && item.cargo_type == "Vehicles" %}

                                <div id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                                    <img class="card-img-top" src="/files/green_vehicle.svg"  id="{{ item.vehicle_yard_slot }}" />
                                    <div class="card-img-overlay">
                                        <p class="container_no">{{ item.chasis_no}}</p>
                                        <p class="yard_slot">{{ item.yard_slot }}</p>
                                    </div>
                                </div>
                         {% endif %}

                         {% if item.status == "Yard" && item.cargo_type == "Heavy Vehicles" %}

                                <div id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                                    <img class="card-img-top" src="/files/blue_hvehicle.svg"  id="{{ item.vehicle_yard_slot }}" />
                                    <div class="card-img-overlay">

                                        <p class="container_no">{{ item.chasis_no}}</p>
                                        <p class="yard_slot">{{ item.yard_slot }}</p>


                                    </div>
                                </div>
                        {% endif %}

                        {% if item.status == "Paid" && item.cargo_type == "Heavy Vehicles" %}

                                <div id="{{ item.cargo_ref }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                                    <img class="card-img-top" src="/files/green_hvehicle.svg"  id="{{ item.vehicle_yard_slot }}" />
                                    <div class="card-img-overlay">

                                        <p class="container_no">{{ item.chasis_no}}</p>
                                        <p class="yard_slot">{{ item.yard_slot }}</p>

                                    </div>
                                </div>
                        {% endif %}
                        
                        {% else %}
                         <div class="EMPTY" id="{{ item.yard_slot }}" class="empty" ondrop="Drop(event, this)" ondragenter="DragEnter(event)" ondragover="DragOver(event, this)">
                          <img class="card-img-top" src="/files/empty_contanier.svg"/>
                          <div class="card-img-overlay">
                              <p class="yard_slot" >{{ item.yard_slot }}</p>
                          </div>
                        </div>
                      {% endif %}

                      </div>
                      {% endif %}
                        {% endif %}
                    {% } %}
                    {% } %}
            {% endfor %}

</div>
</div>
