<div class="row">
    <div class="container">
        {% for yard in inspection_items %}
        <div class="col-sm-12">
            {% if yard.cargo_type == "Container" %}
            <div id="{{ yard.name }}" ondrop="Drop(event, this)" draggable="true" ondragstart="DragStart(event, this)">
                <img id="Inspection" class="card-img-top" src="/files/yellow_contanier.svg" height="55" width="115" />
                <div class="card-img-overlay inspection">

                    <p class="container_no" style="color:red;">{{ yard.container_no}}</p>

                </div>

            </div>
            {% endif %} {% if yard.cargo_type == "Container" && yard.cargo_condition == "DAMAGE" %}
            <div id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">
                <img id="Inspection" class="card-img-top" src="/files/damage_contanier.svg" height="50" width="115" />
                <div class="card-img-overlay inspection">
                    <p class="container_no">{{ yard.container_no}}</p>
                </div>
            </div>
            {% endif %} {% if yard.cargo_type == "Container" && yard.container_content == "EMPTY"%}
            <div id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">
                <img class="card-img-top" src="/files/pink_contanier.svg" height="50" width="115" id="Inspection" />
                <div class="card-img-overlay inspection">
                    <p class="container_no">{{ yard.container_no}}</p>
                </div>
            </div>
            {% endif %} {% if yard.cargo_type == "Break Bulk" %}

            <div id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">
                <img class="card-img-top" src="/files/yellow_break_bulk.svg" height="50" width="115" id="Inspection" />
                <div class="card-img-overlay inspection">
                    <p class="container_no">{{ yard.mark}}</p>
                </div>
            </div>

            {% endif %} {% if yard.cargo_type == "Vehicles" %}
            <div id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">

                <img class="card-img-top" src="/files/yellow_vehicle.svg" height="50" width="115" id="Inspection" />
                <div class="card-img-overlay">
                    <p>{{ yard.chasis_no }}</p>
                </div>


            </div>
            {% endif %} {% if yard.cargo_type == "Heavy Vehicles" %}
            <div id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">

                <img class="card-img-top" src="/files/yellow_hvehicle.svg" height="50" width="115" id="Inspection" />
                <div class="card-img-overlay">
                    <p class="container_no">{{ yard.chasis_no }}</p>
                </div>

            </div>
            {% endif %} {% if yard.cargo_type == "Tank Tainers" %}
            <div id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">

                <img class="card-img-top" src="/files/yellow_tank_tainer.svg" height="50" width="115" id="Inspection" />
                <div class="card-img-overlay">
                    <p class="container_no">{{ yard.container_no }}</p>
                </div>

            </div>
            {% endif %} {% if yard.cargo_type == "Flatrack" %}
            <div id="{{ yard.name }}" ondrop="Drop(event)" draggable="true" ondragover="allowDrop(event)" ondragstart="DragStart(event, this)">

                <img class="card-img-top" src="/files/yellow_flatrack.svg" height="50" width="115" id="Inspection" />
                <div class="card-img-overlay">
                    <p class="container_no">{{ yard.container_no }}</p>
                </div>

            </div>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
