
<div class="yard-planner-main"></div>

            <div class="row">
                {% for item in cargo %}
                
                <div class="col-sm-1">
                    {% if item.container_no %}
                        {% if item.status == "Paid" %}
                        <div class="card ">
                                
                                <img class="card-img" src="/files/paid_container.png" alt="Card image cap">
                                <div class="card-img-overlay">
                                        <a href="desk#Form/Cargo/{{ item.cargo_ref }}">
                                  <h4 class="card-title text-red text-center">{{ item[1]}}</h4>
                                </a>

                                  
                                </div>
                              </div>
                        {% endif %}
                        {% if item.status == "Yard" %}

                        <div class="card">
                                <img class="card-img" src="/files/container.png" alt="Card image cap">
                                <div class="card-img-overlay">
                                
                                <a href="desk#Form/Cargo/{{ item.cargo_ref }}">
                                    <h4 class="card-title text-white text-center">{{ item[2]}}</h4>
                                  <p class="card-text"></p>
                                  </a>
                                
                                </div>
                        </div>

 <!----------------- 
                        <div class="card-deck bg-primary text-white">
       <img class="card-img" src="/files/container.png" alt="Card image">    
                            <div class="card-body">
                              <p class="card-text"></p>{{ item.container_no }}</p>
                            </div>
                          </div>
                          ---------->
                        {% endif %}
                    {% else %}
                    <div class="card">
                            <img class="card-img-top" src="/files/no_container.png" alt="Card image cap">
                            <div class="card-img-overlay">

                            <div class="card-body">
                                    <h5 class="card-title text-center">{{ item.yard_slot}}</h5>
                              <p class="card-text"></p>
                            </div>
                            </div>
                          </div>
                   
                    {% endif %}
                        
                </div>
                
                {% endfor %}
            </div>
</div>

<!---------------------END YARD PLANNER------------------------------>
</div>
