h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 0.85rem;
}

img {
    max-width: 115%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.border {
    border: 1px solid #d1d8dd;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
}

.shipping_container {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.shipping_container-img {
    width: 105%!important;
    height: 100%!important;
    object-fit: cover;
    padding-bottom: 2px;
    padding-top: 2px;
}

.shipping_container-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 115%!important;
    height: 100%!important;
    padding: .70rem;
}

.shipping_container-title {
    margin-top: 0.5px;
}

.text-center {
    text-align: center !important;
}

.text-white {
    color: #fff !important;
}

.text-red {
    color: red !important;
}

.pt-3,
.py-3 {
    padding-top: 3rem !important;
}

.yard-planner {
    width: 100%;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.yard-planner-main {
    width: 100%;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

.pat_container-yard {
    float: left;
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 1px;
    border: 1px solid blue;
    box-shadow: 3px 3px blue;
}

.pat_container {
    float: left;
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 1px;
    border: 1px solid #aaaaaa;
}

.pat_container-paid {
    float: left;
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px;
    border: 1px solid green;
    box-shadow: 3px 3px green;
}

.pat_container-inspection {
    float: left;
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 10px;
    border: 1px solid green;
    box-shadow: 3px 3px orange;
}