
<div class="yard-planner-main">
    <div class="container-fluid p-3 my-3 border">
        <div class="row">

            {% for(var i=1, l=13; i<l; i++) { %}
            <div class="col-sm-1">
              <svg width="115" height="20">
                <rect width="115" height="20" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)" />
                <text x="50%" y="50%" font-size="12" dominant-baseline="middle" text-anchor="middle">
                  {%= [i] %}
                </text>
            </svg>
        </div>
        {% } %}

    </div>
</div>

<div class="container-fluid p-3 my-3 border">
    <div class="row">
{% var yardData = ["A","B","C","D","E","F","G"]; %}
{% for item in items %}

{% for (var y = 0; yardData.length; y++) { %}

    {% if item.yard_section == yardData[y] %}

      {% for (var i=3; i>= 0; i--){ %}

        {% if item.yard_sub_section == "A"+[i] %}

            <div class="col-sm-1">

                {% if item.container_no %}
                  {% if item.status == "Paid" %}
                <div id="{{ item.yard_slot}}" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <svg width="115" height="50">
                    <image href="/files/green_contaier.svg"  height="50" width="115" class="draggable" onmousedown="selectElement(evt)"/>
                    <text x="50%" y="25%" font-size="10" dominant-baseline="middle" text-anchor="middle">
                      <a href="desk#Form/Cargo/{{ item.cargo_ref }}">
                        {{ item.container_no }}
                        <tspan x="55" y="25">{{ item.yard_slot }}</tspan>
                        <tspan x="55" y="40">{{ item.container_size }}"FT</tspan><br>
                    </a>
                  </text>
                </svg>
                </div>
                {% endif %}

                {% if item.hazardous == "Yes" %}
                <div id="" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="drag(event)">
                    <svg width="115" height="50">
                      <rect width="115" height="50" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)" />
                      <image href="/files/red_contaier.svg"  height="50" width="115" id="{{ item.yard_slot }}" draggable="true"/>
                      <text x="50%" y="25%" font-size="10" dominant-baseline="middle" text-anchor="middle">
                        <a href="desk#Form/Cargo/{{ item.cargo_ref }}" >
                          {{ item.container_no}}
                          <tspan x="50" y="25">{{ item.yard_slot }}</tspan>
                          <tspan x="50" y="40">{{ item.container_size }}"FT</tspan><br>
                        </a>
                        </text>
                    </svg>
                </div>
                {% endif %}
                {% else %}
                <div id="empty1" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <svg width="115" height="50">
                      <rect width="115" height="50" id="{{ item.yard_slot }}" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)" />
                      <text x="50%" y="50%" font-size="10" dominant-baseline="middle" text-anchor="middle">
                        {{ item.yard_slot}}
                     </text>
                  </svg>
                </div>
                {% endif %}

            </div>
            {% endif %}
          {% } %}
        {% endif %}
{% } %}
  {% endfor %}
    </div>
</div>
