/* Code By Webdevtrick ( https://webdevtrick.com ) */

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #f4f4f4;
}

tr:nth-of-type(even) {
    background: #fff;
}

th {
    background: #5cb85c;
    color: #ffffff;
    font-weight: 300;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

td:nth-of-type(1) {
    font-weight: 500 !important;
}

td {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    line-height: 20px;
}

span {
    font-style: italic
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table.responsive,
    .responsive thead,
    .responsive tbody,
    .responsive th,
    .responsive td,
    .responsive tr {
        display: block !important;
    }
    .responsive thead tr {
        position: absolute !important;
        top: -9999px;
        left: -9999px;
    }
    .responsive tr {
        border: 1px solid #ccc;
    }
    .responsive td {
        border: none;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 25% !important;
    }
    .responsive td:before {
        position: absolute !important;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap !important;
        font-weight: 500 !important;
    }
    .responsive td:before {
        content: attr(data-table-header) !important;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #00428a;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top {
    background: #004a99;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #ecf5ff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #007bff;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #0067d5;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
    color: #74b5fc;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #007bff;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #0062cc;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #f1f7ff;
}

#footer .credits a {
    color: #bfddfe;
}

#footer .credits a:hover {
    color: #f1f7ff;
}